body {
    background-color:rgba(192, 192, 192, 0.842);
    text-align: center;
    font-family: Arial;   
    padding: 0;
    margin: 0;
    height: 100%;
}
h1 {
    color:whitesmoke;
    text-align: center;
    font-family: Arial;
    font-size: 8em;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
h3{
    color:whitesmoke;
    text-align: center;
    font-family: Arial;
    font-size: 8em;
    padding: 80px;
}
h6{    
    color:whitesmoke;
    text-align: center;
    font-family: Arial;
    font-size: 2em;
    padding: 80px;

}
h5{
    color:black;
}
button{
  
  background-color: silver;  
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: 15px solid #f1f1f1;

  width: 250px;
  padding: 30px;
  text-align: center;
  margin: auto


}
a{
    color:white;
}

