body {
    background-color: rgba(203, 207, 205, 0.685);
    text-align: center;
    font-family: Arial;
    padding: 0;
    margin: 0;
}
h1 {
    color: rgba(255, 253, 250, 0.726);
    font-size: 8em;
    padding: 50px;
}

img {
    height: 1500px;
}
p {
    background-color: #FC9D9A;
    color: white;
    padding: 50px;
    font-size: 2em;
}