button{
  
  background-color: silver;  
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: 15px solid #f1f1f1;

  width: 350px;
  padding: 30px;
  text-align: center;
  margin: auto
}

div {
  width: 120px;
  height: 120px;
  padding: 50px;
  object-fit: fill;
  margin: 20px;
}
* {
    box-sizing: border-box;
  }
  .img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;

    width: 100px;
    height:100px;
  }

  #first {
float:left;
}
#second {
    float: right;